In [24]:
import pandas as pd

In [25]:
df = pd.read_excel("power_2022.xlsx")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datum_tijd             35040 non-null  object
 1   levering_normaal       16320 non-null  object
 2   levering_laag          18719 non-null  object
 3   teruglevering_normaal  16320 non-null  object
 4   teruglevering_laag     18719 non-null  object
 5   buitentemperatuur      35040 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [27]:
df.index = pd.to_datetime(df["datum_tijd"], format="%d-%m-%Y %H:%M:%S")

In [31]:
df = df.drop(columns="datum_tijd")

In [28]:
df["levering_laag"] = df["levering_laag"].str.replace(",", ".")
df["levering_normaal"] = df["levering_normaal"].str.replace(",", ".")
df["teruglevering_laag"] = df["teruglevering_laag"].str.replace(",", ".")
df["teruglevering_normaal"] = df["teruglevering_normaal"].str.replace(",", ".")

In [35]:
df["levering_laag"] = pd.to_numeric(df["levering_laag"], errors="coerce")
df["levering_normaal"] = pd.to_numeric(df["levering_normaal"], errors="coerce")
df["teruglevering_laag"] = pd.to_numeric(df["teruglevering_laag"], errors="coerce")
df["teruglevering_normaal"] = pd.to_numeric(df["teruglevering_normaal"], errors="coerce")

In [37]:
df = df.drop(columns="buitentemperatuur")

In [39]:
df = df.fillna(0.0)

In [40]:
df["levering"] = df["levering_laag"] + df["levering_normaal"]
df["teruglevering"] = df["teruglevering_laag"] + df["teruglevering_normaal"]

In [42]:
df = df.drop(columns=["levering_normaal", "levering_laag", "teruglevering_normaal", "teruglevering_laag"])

In [45]:
df["netto"] = df["levering"] - df["teruglevering"]

In [47]:
df.to_csv("data.csv")

In [50]:
df.index = df.index - pd.Timedelta(minutes=15)

In [ ]:
df

In [53]:
monthly = df.resample("MS").sum()

In [57]:
monthly

            levering  teruglevering   netto
datum_tijd
2022-01-01    592.01          34.04  557.97
2022-02-01    517.79         112.58  405.21
2022-03-01    421.84         395.83   26.01
2022-04-01    339.20         420.57  -81.37
2022-05-01    243.81         528.46 -284.65
2022-06-01    187.14         600.50 -413.36
2022-07-01    234.87         518.10 -283.23
2022-08-01    264.09         506.28 -242.19
2022-09-01    330.16         314.13   16.03
2022-10-01    432.19         165.98  266.21
2022-11-01    572.91          56.68  516.23
2022-12-01    727.56          24.44  703.12

In [56]:
(monthly / monthly.sum() * 100).round(2)

            levering  teruglevering  netto
datum_tijd
2022-01-01     12.17           0.93  47.05
2022-02-01     10.65           3.06  34.17
2022-03-01      8.67          10.76   2.19
2022-04-01      6.97          11.44  -6.86
2022-05-01      5.01          14.37 -24.00
2022-06-01      3.85          16.33 -34.85
2022-07-01      4.83          14.09 -23.88
2022-08-01      5.43          13.77 -20.42
2022-09-01      6.79           8.54   1.35
2022-10-01      8.89           4.51  22.45
2022-11-01     11.78           1.54  43.53
2022-12-01     14.96           0.66  59.29