In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("data.csv", index_col=0)
df.index = pd.to_datetime(df.index)

In [29]:
df.index = df.index - pd.Timedelta(minutes=15)

In [45]:
monthly = df.resample("MS").sum()

In [48]:
monthly.index = monthly.index.month

In [50]:
monthly.to_csv("monthly.csv")

In [22]:
dim = pd.Series(monthly.index.days_in_month, index=monthly.index)

In [25]:
goals = monthly.div(dim, axis=0)

In [26]:
goals.to_csv("goal_kwh.csv")

In [56]:
(monthly / monthly.sum() * 100).round(2)

            levering  teruglevering  netto
datum_tijd
2022-01-01     12.17           0.93  47.05
2022-02-01     10.65           3.06  34.17
2022-03-01      8.67          10.76   2.19
2022-04-01      6.97          11.44  -6.86
2022-05-01      5.01          14.37 -24.00
2022-06-01      3.85          16.33 -34.85
2022-07-01      4.83          14.09 -23.88
2022-08-01      5.43          13.77 -20.42
2022-09-01      6.79           8.54   1.35
2022-10-01      8.89           4.51  22.45
2022-11-01     11.78           1.54  43.53
2022-12-01     14.96           0.66  59.29

In [32]:
sept = df.resample("H").sum().loc["2022-09"]

In [34]:
sept.index = sept.index + pd.Timedelta(days=365)

In [36]:
sept.to_csv("sept_hourly.csv")

In [38]:
sept.resample("D").sum().to_csv("sept_daily.csv")

In [40]:
now = pd.Timestamp.now()
start = now.floor("D")
end = now.floor("H") - pd.Timedelta(hours=1)

data = sept.loc[start:end, "levering"]

In [44]:
list(data.items())

[(Timestamp('2023-09-14 00:00:00'), 0.56),
 (Timestamp('2023-09-14 01:00:00'), 0.39),
 (Timestamp('2023-09-14 02:00:00'), 0.38),
 (Timestamp('2023-09-14 03:00:00'), 0.31),
 (Timestamp('2023-09-14 04:00:00'), 0.33),
 (Timestamp('2023-09-14 05:00:00'), 0.41000000000000003),
 (Timestamp('2023-09-14 06:00:00'), 0.33),
 (Timestamp('2023-09-14 07:00:00'), 0.49),
 (Timestamp('2023-09-14 08:00:00'), 0.21000000000000002),
 (Timestamp('2023-09-14 09:00:00'), 0.0),
 (Timestamp('2023-09-14 10:00:00'), 0.0),
 (Timestamp('2023-09-14 11:00:00'), 0.04),
 (Timestamp('2023-09-14 12:00:00'), 0.0),
 (Timestamp('2023-09-14 13:00:00'), 0.0)]